<div class="header">
  <div class="container-fluid">
    <div class="d-flex">

      <a class="nav-link leading-none p-0">
        
          <span *ngIf="(currentStore | async) as store; else storeNotFound" class="text-default">{{ store.name }}</span>
          <ng-template #storeNotFound>
            <span class="text-default">{{ "Магазин не выбран" }}</span>
          </ng-template>  
        
      </a>

      <button class="btn btn-secondary" (click)="open()"><i class="fe fe-more-horizontal"></i></button>

    </div>
  </div>
</div>