.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.page-single {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.page-main {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
