.modal-header {
  border-color: $border-color;
  font-size: $h4-font-size;
  line-height: 1.2;
  font-weight: 400;

  .close {
    &:focus, &:active {
      border: none;
    }
    cursor: pointer;
  }
}

.modal-content {
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.modal-backdrop {
  backdrop-filter: blur(8px);
  //background: $light-black;
}

.modal-body + .card-table tr:first-child td {
  border-top: 1px solid $border-color;
}

.modal-footer {
  border-color: $border-color;
}
